Repository Epitech-2nd-Year-Projects/AREA, pull requests merged in 2025-10, with the labels that each got.

#167 Feature/area 113 api service layer
  mobile/lib/core/di/injection.dart
  mobile/lib/core/network/api_client.dart
  mobile/lib/features/services/presentation/widgets/services_loading_shimmer.dart
  mobile/pubspec.lock
  mobile/pubspec.yaml
Labels: ui, mobile

#168 [AREA-67] password auth
  server/api/openapi.yaml
  server/cmd/server/main.go
  server/config/config.example.yaml
  server/docs/architecture/configuration.md
  server/go.mod
  server/go.sum
  server/internal/adapters/inbound/http/openapi/generated.gen.go
  server/internal/adapters/inbound/http/router/router.go
  server/internal/adapters/outbound/mailer/logger/logger.go
  server/internal/adapters/outbound/mailer/sendgrid/sendgrid.go
  server/internal/adapters/outbound/postgres/auth/models.go
  server/internal/adapters/outbound/postgres/auth/repository.go
  server/internal/app/about/handler.go
  server/internal/app/auth/handler.go
  server/internal/app/auth/service.go
  server/internal/app/auth/service_test.go
  server/internal/domain/auth/verification.go
  server/internal/domain/session/session.go
  server/internal/domain/user/user.go
  server/internal/platform/config/viper/config.go
  server/internal/platform/config/viper/defaults.go
  server/internal/platform/config/viper/loader.go
  server/internal/platform/security/password/bcrypt.go
  server/internal/ports/outbound/auth.go
  server/internal/ports/outbound/errors.go
  server/migrations/000018_create_table_email_verification_tokens.down.sql
  server/migrations/000018_create_table_email_verification_tokens.up.sql
Labels: backend, auth

#175 [AREA-68] oauth2 login
  server/api/openapi.yaml
  server/cmd/server/main.go
  server/go.mod
  server/go.sum
  server/internal/adapters/inbound/http/openapi/generated.gen.go
  server/internal/adapters/inbound/http/router/router.go
  server/internal/adapters/outbound/oauth/descriptor.go
  server/internal/adapters/outbound/oauth/manager_test.go
  server/internal/adapters/outbound/oauth/provider.go
  server/internal/adapters/outbound/oauth/provider_test.go
  server/internal/adapters/outbound/postgres/auth/models.go
  server/internal/adapters/outbound/postgres/auth/repository.go
  server/internal/app/auth/handler.go
  server/internal/app/auth/oauth_service.go
  server/internal/app/auth/oauth_service_test.go
  server/internal/domain/identity/identity.go
  server/internal/domain/identity/identity_test.go
  server/internal/domain/identity/profile.go
  server/internal/domain/identity/profile_test.go
  server/internal/oauth2/client.go
  server/internal/oauth2/client_test.go
  server/internal/oauth2/pkce.go
  server/internal/oauth2/pkce_test.go
  server/internal/oauth2/random.go
  server/internal/oauth2/random_test.go
  server/internal/oauth2/token.go
  server/internal/oauth2/token_test.go
  server/internal/oauth2/types.go
  server/internal/ports/outbound/identity/oauth.go
  server/internal/ports/outbound/identity/repository.go
Labels: backend, oauth

#177 [AREA-193] setupdocumentation with redocly
  package-lock.json
  package.json
  redocly.yaml
  server/api/openapi.yaml
Labels: documentation

#174 feat (mobile/fetaures/services/data): use of about.json endpoint
  mobile/docs/ARCHITECTURE_OVERVIEW.md
  mobile/docs/DEVELOPER_GUIDE.md
  mobile/lib/core/di/injection.dart
  mobile/lib/features/services/data/datasources/services_remote_datasource.dart
  mobile/lib/features/services/data/models/about_info_model.dart
  mobile/lib/features/services/data/models/service_component_model.dart
  mobile/lib/features/services/data/models/service_provider_model.dart
  mobile/lib/features/services/data/repositories/services_repository_impl.dart
  mobile/pubspec.lock
  mobile/pubspec.yaml
Labels: integration, service, ui

#179 [AREA-75] area crud api
  server/api/openapi.yaml
  server/cmd/server/main.go
  server/internal/adapters/inbound/http/openapi/generated.gen.go
  server/internal/adapters/inbound/http/router/router.go
  server/internal/adapters/outbound/mailer/.gitkeep
  server/internal/adapters/outbound/oauth/.gitkeep
  server/internal/adapters/outbound/postgres/area/models.go
  server/internal/adapters/outbound/postgres/area/repository.go
  server/internal/app/area/.gitkeep
  server/internal/app/area/handler.go
  server/internal/app/area/service.go
  server/internal/app/area/service_test.go
  server/internal/app/auth/.gitkeep
  server/internal/domain/area/.gitkeep
  server/internal/domain/area/area.go
  server/internal/domain/session/.gitkeep
  server/internal/domain/user/.gitkeep
  server/internal/ports/outbound/area.go
  server/internal/ports/outbound/identity/.gitkeep
Labels: api

#180 [AREA-73] action abstraction
  server/api/openapi.yaml
  server/cmd/server/main.go
  server/go.mod
  server/go.sum
  server/internal/adapters/inbound/http/openapi/generated.gen.go
  server/internal/adapters/outbound/postgres/area/models.go
  server/internal/adapters/outbound/postgres/area/repository.go
  server/internal/adapters/outbound/postgres/component/models.go
  server/internal/adapters/outbound/postgres/component/repository.go
  server/internal/app/about/handler.go
  server/internal/app/about/handler_test.go
  server/internal/app/area/handler.go
  server/internal/app/area/service.go
  server/internal/app/area/service_test.go
  server/internal/app/auth/handler.go
  server/internal/domain/area/area.go
  server/internal/domain/area/link.go
  server/internal/domain/component/component.go
  server/internal/domain/component/config.go
  server/internal/ports/outbound/area.go
  server/internal/ports/outbound/component.go
Labels: action

#181 [AREA-74] reaction abstraction
  server/api/openapi.yaml
  server/internal/adapters/inbound/http/openapi/generated.gen.go
  server/internal/adapters/outbound/postgres/area/repository.go
  server/internal/app/about/handler.go
  server/internal/app/about/handler_test.go
  server/internal/app/area/handler.go
  server/internal/app/area/service.go
  server/internal/app/area/service_test.go
  server/internal/ports/outbound/area.go
Labels: reaction

#182 feat (auth): impplment oauth2
  mobile/android/app/src/main/AndroidManifest.xml
  mobile/lib/core/di/injection.dart
  mobile/lib/core/services/deep_link_service.dart
  mobile/lib/core/services/oauth_manager.dart
  mobile/lib/features/auth/data/datasources/oauth_remote_datasource.dart
  mobile/lib/features/auth/data/models/auth_session_model.dart
  mobile/lib/features/auth/data/models/oauth_authorization_response_model.dart
  mobile/lib/features/auth/data/repositories/auth_repository_impl.dart
  mobile/lib/features/auth/domain/entities/auth_session.dart
  mobile/lib/features/auth/domain/repositories/auth_repository.dart
  mobile/lib/features/auth/domain/use_cases/complete_oauth_login.dart
  mobile/lib/features/auth/presentation/blocs/oauth/oauth_cubit.dart
  mobile/lib/features/auth/presentation/blocs/oauth/oauth_state.dart
  mobile/lib/features/auth/presentation/pages/login_page.dart
  mobile/lib/features/auth/presentation/pages/oauth_callback_page.dart
  mobile/lib/features/auth/presentation/pages/register_page.dart
  mobile/pubspec.lock
  mobile/pubspec.yaml
Labels: auth, integration, oauth

#185 [AREA-77] scheduler
  server/api/openapi.yaml
  server/cmd/server/main.go
  server/docs/architecture/configuration.md
  server/go.mod
  server/go.sum
  server/internal/adapters/inbound/http/openapi/generated.gen.go
  server/internal/adapters/inbound/http/router/router.go
  server/internal/adapters/outbound/postgres/action/models.go
  server/internal/adapters/outbound/postgres/action/repository.go
  server/internal/adapters/outbound/postgres/area/models.go
  server/internal/adapters/outbound/postgres/area/repository.go
  server/internal/adapters/outbound/postgres/component/models.go
  server/internal/adapters/outbound/postgres/component/repository.go
  server/internal/adapters/outbound/reaction/gmail/executor.go
  server/internal/adapters/outbound/reaction/gmail/executor_test.go
  server/internal/adapters/outbound/reaction/http/executor.go
  server/internal/app/about/handler.go
  server/internal/app/about/handler_test.go
  server/internal/app/area/handler.go
  server/internal/app/area/reaction_executor.go
  server/internal/app/area/reaction_executor_test.go
  server/internal/app/area/service.go
  server/internal/app/area/service_test.go
  server/internal/app/area/timer_config.go
  server/internal/app/area/timer_provisioner.go
  server/internal/app/area/timer_scheduler.go
  server/internal/app/area/timer_test.go
  server/internal/app/auth/handler.go
  server/internal/app/auth/oauth_service.go
  server/internal/app/auth/oauth_service_test.go
  server/internal/app/auth/service_test.go
  server/internal/app/components/handler.go
  server/internal/app/components/mapper.go
  server/internal/app/components/mapper_test.go
  server/internal/app/components/service.go
  server/internal/app/components/service_test.go
  server/internal/domain/action/source.go
  server/internal/domain/component/.gitkeep
  server/internal/domain/component/component.go
  server/internal/platform/config/viper/defaults.go
  server/internal/platform/logging/config.go
  server/internal/ports/outbound/action_source.go
  server/internal/ports/outbound/area.go
  server/internal/ports/outbound/component.go
  server/internal/ports/outbound/reaction.go
  server/migrations/000019_seed_timer_gmail.down.sql
  server/migrations/000019_seed_timer_gmail.up.sql
  server/migrations/000020_fix_area_links_action_unique.down.sql
  server/migrations/000020_fix_area_links_action_unique.up.sql
  server/migrations/000021_action_sources_schedule_unique.down.sql
  server/migrations/000021_action_sources_schedule_unique.up.sql
Labels: reaction, action

#189 [AREA-70] services registry
  server/api/openapi.yaml
  server/cmd/server/main.go
  server/internal/adapters/inbound/http/openapi/generated.gen.go
  server/internal/adapters/inbound/http/router/router.go
  server/internal/adapters/outbound/postgres/service/models.go
  server/internal/adapters/outbound/postgres/service/repository.go
  server/internal/app/auth/handler.go
  server/internal/app/auth/oauth_service.go
  server/internal/app/auth/oauth_service_test.go
  server/internal/app/components/handler.go
  server/internal/app/components/service.go
  server/internal/app/components/service_test.go
  server/internal/domain/service/provider.go
  server/internal/domain/subscription/subscription.go
  server/internal/ports/outbound/service_provider.go
  server/internal/ports/outbound/subscription.go
Labels: service

#194 [AREA-197] subscribe and create link to backend
  server/internal/adapters/outbound/reaction/gmail/executor.go
  web/messages/en.json
  web/src/app/oauth/callback/page.tsx
  web/src/components/areas/component-config-sheet.tsx
  web/src/components/areas/create-area-modal.tsx
  web/src/components/areas/edit-area-modal.tsx
  web/src/components/authentication/login-form.tsx
  web/src/components/services/service-card.tsx
  web/src/lib/api/contracts/openapi/areas.ts
  web/src/lib/api/contracts/openapi/auth.ts
  web/src/lib/api/contracts/openapi/services.ts
  web/src/lib/api/mock/components/api.ts
  web/src/lib/api/mock/index.ts
  web/src/lib/api/openapi/auth/client.ts
  web/src/lib/api/openapi/auth/hooks.ts
  web/src/lib/api/openapi/auth/queries.ts
  web/src/lib/api/openapi/auth/query-keys.ts
  web/src/lib/api/openapi/components/client.ts
  web/src/lib/api/openapi/components/hooks.ts
  web/src/lib/api/openapi/components/index.ts
  web/src/lib/api/openapi/components/queries.ts
  web/src/lib/api/openapi/components/query-keys.ts
  web/src/lib/api/openapi/services/client.ts
  web/src/lib/api/openapi/services/index.ts
  web/src/lib/api/openapi/services/mutations.ts
  web/src/lib/api/openapi/services/query-keys.ts
  web/src/lib/auth/oauth/state.ts
Labels: area

#195 Feature/area 124 user profile management
  mobile/lib/core/di/injection.dart
  mobile/lib/core/services/deep_link_service.dart
  mobile/lib/core/services/oauth_manager.dart
  mobile/lib/features/areas/data/datasources/area_remote_datasource.dart
  mobile/lib/features/areas/data/models/area_component_model.dart
  mobile/lib/features/areas/data/models/area_model.dart
  mobile/lib/features/areas/data/models/area_request_model.dart
  mobile/lib/features/areas/data/repositories/area_repository_impl.dart
  mobile/lib/features/areas/domain/entities/area.dart
  mobile/lib/features/areas/domain/entities/area_component_binding.dart
  mobile/lib/features/areas/domain/entities/area_draft.dart
  mobile/lib/features/areas/domain/entities/area_status.dart
  mobile/lib/features/areas/domain/repositories/area_repository.dart
  mobile/lib/features/areas/domain/use_cases/create_area.dart
  mobile/lib/features/areas/domain/use_cases/execute_area.dart
  mobile/lib/features/areas/domain/use_cases/update_area.dart
  mobile/lib/features/areas/presentation/cubits/area_form_cubit.dart
  mobile/lib/features/areas/presentation/pages/area_form_page.dart
  mobile/lib/features/areas/presentation/widgets/area_card.dart
  mobile/lib/features/areas/presentation/widgets/component_configuration_form.dart
  mobile/lib/features/areas/presentation/widgets/service_and_component_picker.dart
  mobile/lib/features/services/data/datasources/services_remote_datasource.dart
  mobile/lib/features/services/data/models/component_parameter_model.dart
  mobile/lib/features/services/data/models/identity_summary_model.dart
  mobile/lib/features/services/data/models/service_component_model.dart
  mobile/lib/features/services/data/models/subscribe_exchange_request_model.dart
  mobile/lib/features/services/data/models/subscribe_exchange_response_model.dart
  mobile/lib/features/services/data/models/subscribe_service_request_model.dart
  mobile/lib/features/services/data/models/subscribe_service_response_model.dart
  mobile/lib/features/services/data/models/user_service_subscription_model.dart
  mobile/lib/features/services/data/repositories/services_repository_impl.dart
  mobile/lib/features/services/domain/entities/component_parameter.dart
  mobile/lib/features/services/domain/entities/service_component.dart
  mobile/lib/features/services/domain/entities/service_identity_summary.dart
  mobile/lib/features/services/domain/entities/service_provider_summary.dart
  mobile/lib/features/services/domain/entities/service_subscription_exchange_result.dart
  mobile/lib/features/services/domain/entities/service_subscription_result.dart
  mobile/lib/features/services/domain/entities/user_service_subscription.dart
  mobile/lib/features/services/domain/repositories/services_repository.dart
  mobile/lib/features/services/domain/use_cases/complete_service_subscription.dart
  mobile/lib/features/services/domain/use_cases/get_connected_identities.dart
  mobile/lib/features/services/domain/use_cases/get_service_components.dart
  mobile/lib/features/services/domain/use_cases/subscribe_to_service.dart
  mobile/lib/features/services/presentation/blocs/service_details/service_details_bloc.dart
  mobile/lib/features/services/presentation/blocs/service_subscription/service_subscription_cubit.dart
  mobile/lib/features/services/presentation/blocs/service_subscription/service_subscription_state.dart
  mobile/lib/features/services/presentation/pages/service_details_page.dart
  mobile/lib/features/services/presentation/widgets/components_section.dart
Labels: auth, ui, area, mobile
