Repository Epitech-2nd-Year-Projects/AREA, pull requests merged in 2025-09, with the labels that each got.

#131 Enzogallini/area 105 storage and secure token storage
  mobile/lib/core/storage/.gitkeep
  mobile/lib/core/storage/cache_manager.dart
  mobile/lib/core/storage/exceptions/storage_exceptions.dart
  mobile/lib/core/storage/local_prefs_manager.dart
  mobile/lib/core/storage/secure_storage_manager.dart
  mobile/lib/core/storage/storage_keys.dart
  mobile/pubspec.lock
  mobile/pubspec.yaml
Labels: security, tokens, storage

#132 Enzogallini/area 112 http client setup
  mobile/lib/core/network/.gitkeep
  mobile/lib/core/network/api_client.dart
  mobile/lib/core/network/api_config.dart
  mobile/lib/core/network/exceptions/network_exceptions.dart
  mobile/lib/core/network/exceptions/unauthorized_exception.dart
  mobile/lib/core/network/interceptors/error_interceptor.dart
  mobile/lib/core/network/interceptors/logging_interceptor.dart
  mobile/lib/core/network/interceptors/retry_interceptor.dart
  mobile/pubspec.lock
  mobile/pubspec.yaml
Labels: networking, http-client, api

#136 Feature/area 186 setup dependence injection
  mobile/lib/app.dart
  mobile/lib/core/di/injection.dart
  mobile/lib/main.dart
  mobile/pubspec.lock
  mobile/pubspec.yaml
Labels: storage, mobile

#137 [AREA-63] database setup -- adding setup migrations file
  server/migrations/000001_create_enums_core.down.sql
  server/migrations/000001_create_enums_core.up.sql
  server/migrations/000002_create_table_users.down.sql
  server/migrations/000002_create_table_users.up.sql
  server/migrations/000003_create_table_sessions.down.sql
  server/migrations/000003_create_table_sessions.up.sql
  server/migrations/000004_create_table_user_identities.down.sql
  server/migrations/000004_create_table_user_identities.up.sql
  server/migrations/000005_create_table_service_providers.down.sql
  server/migrations/000005_create_table_service_providers.up.sql
  server/migrations/000006_create_table_service_components.down.sql
  server/migrations/000006_create_table_service_components.up.sql
  server/migrations/000007_create_table_service_component_examples.down.sql
  server/migrations/000007_create_table_service_component_examples.up.sql
  server/migrations/000008_create_table_user_service_subscriptions.down.sql
  server/migrations/000008_create_table_user_service_subscriptions.up.sql
  server/migrations/000009_create_table_user_component_configs.down.sql
  server/migrations/000009_create_table_user_component_configs.up.sql
  server/migrations/000010_create_table_areas.down.sql
  server/migrations/000010_create_table_areas.up.sql
  server/migrations/000011_create_table_area_links.down.sql
  server/migrations/000011_create_table_area_links.up.sql
  server/migrations/000012_create_table_area_conditions.down.sql
  server/migrations/000012_create_table_area_conditions.up.sql
  server/migrations/000013_create_table_action_sources.down.sql
  server/migrations/000013_create_table_action_sources.up.sql
  server/migrations/000014_create_table_action_events.down.sql
  server/migrations/000014_create_table_action_events.up.sql
  server/migrations/000015_create_table_triggers.down.sql
  server/migrations/000015_create_table_triggers.up.sql
  server/migrations/000016_create_table_jobs.down.sql
  server/migrations/000016_create_table_jobs.up.sql
  server/migrations/000017_create_table_delivery_logs.down.sql
  server/migrations/000017_create_table_delivery_logs.up.sql
Labels: database

#146 [AREA-189] add configuration examples and documentation
  server/.env.example
  server/.gitignore
  server/config/config.example.yaml
  server/docs/architecture/configuration.md
Labels: documentation, backend, configuration

#148 Feature/area 187 authentifications presentation layer implementation
  mobile/assets/icons/apple.png
  mobile/assets/icons/applel.png
  mobile/assets/icons/facebook.png
  mobile/assets/icons/google.png
  mobile/fonts/Inter-Bold.ttf
  mobile/fonts/Inter-ExtraBold.ttf
  mobile/fonts/Inter-Medium.ttf
  mobile/fonts/Inter-Regular.ttf
  mobile/fonts/Inter-SemiBold.ttf
  mobile/lib/app.dart
  mobile/lib/core/design_system/app_colors.dart
  mobile/lib/core/design_system/app_spacing.dart
  mobile/lib/core/design_system/app_typography.dart
  mobile/lib/core/di/injection.dart
  mobile/lib/features/auth/data/.gitkeep
  mobile/lib/features/auth/data/repositories/auth_repository_impl.dart
  mobile/lib/features/auth/domain/entities/auth_session.dart
  mobile/lib/features/auth/domain/entities/oauth_provider.dart
  mobile/lib/features/auth/domain/entities/user.dart
  mobile/lib/features/auth/domain/exceptions/auth_exceptions.dart
  mobile/lib/features/auth/domain/exceptions/oauth_exceptions.dart
  mobile/lib/features/auth/domain/repositories/auth_repository.dart
  mobile/lib/features/auth/domain/use_cases/complete_oauth_login.dart
  mobile/lib/features/auth/domain/use_cases/get_current_user.dart
  mobile/lib/features/auth/domain/use_cases/login_user.dart
  mobile/lib/features/auth/domain/use_cases/logout_user.dart
  mobile/lib/features/auth/domain/use_cases/register_user.dart
  mobile/lib/features/auth/domain/use_cases/start_oauth_login.dart
  mobile/lib/features/auth/domain/value_objects/email.dart
  mobile/lib/features/auth/domain/value_objects/oauth_redirect_url.dart
  mobile/lib/features/auth/domain/value_objects/password.dart
  mobile/lib/features/auth/presentation/blocs/auth_bloc.dart
  mobile/lib/features/auth/presentation/blocs/auth_event.dart
  mobile/lib/features/auth/presentation/blocs/auth_state.dart
  mobile/lib/features/auth/presentation/blocs/login/login_cubit.dart
  mobile/lib/features/auth/presentation/blocs/login/login_state.dart
  mobile/lib/features/auth/presentation/blocs/oauth/oauth_cubit.dart
  mobile/lib/features/auth/presentation/blocs/oauth/oauth_state.dart
  mobile/lib/features/auth/presentation/blocs/register/register_cubit.dart
  mobile/lib/features/auth/presentation/blocs/register/register_state.dart
  mobile/lib/features/auth/presentation/pages/auth_wrapper_page.dart
  mobile/lib/features/auth/presentation/pages/login_page.dart
  mobile/lib/features/auth/presentation/pages/oauth_callback_page.dart
  mobile/lib/features/auth/presentation/pages/register_page.dart
  mobile/lib/features/auth/presentation/router/auth_router.dart
  mobile/lib/features/auth/presentation/widgets/buttons/auth_button.dart
  mobile/lib/features/auth/presentation/widgets/buttons/oauth_provider_button.dart
  mobile/lib/features/auth/presentation/widgets/common/auth_divider.dart
  mobile/lib/features/auth/presentation/widgets/common/auth_error_widget.dart
  mobile/lib/features/auth/presentation/widgets/common/auth_loading_widget.dart
  mobile/lib/features/auth/presentation/widgets/common/auth_text_field.dart
  mobile/lib/features/auth/presentation/widgets/dialogs/auth_confirmation_dialog.dart
  mobile/lib/features/auth/presentation/widgets/forms/login_form.dart
  mobile/lib/features/auth/presentation/widgets/forms/register_form.dart
  mobile/lib/features/authentication/presentation/.gitkeep
  mobile/lib/main.dart
  mobile/pubspec.lock
  mobile/pubspec.yaml
Labels: auth, ui, oauth

#156 [AREA-191] setup logger
  server/cmd/server/main.go
  server/config/config.example.yaml
  server/go.mod
  server/go.sum
  server/internal/platform/logging/zap/logger.go
  server/internal/platform/logging/zap/logger_test.go
Labels: repo-setup, backend

#164 feat(config): extend configuration with secrets, security, and servic…
  server/cmd/server/main.go
  server/config/config.example.yaml
  server/internal/platform/config/viper/config.go
  server/internal/platform/config/viper/defaults.go
  server/internal/platform/config/viper/loader.go
  server/internal/platform/config/viper/loader_test.go
  server/internal/platform/logging/slog/.gitkeep
  server/internal/platform/logging/zap/logger.go
Labels: backend, configuration
